body {	
	background-color: rgb(238, 222, 208);
	overflow-wrap: break-word;
}

a {
	color: black;
	opacity: 1;
	font-family: Poppins;
	
}

.header-title-nav-wrapper {
    display: flex;
    justify-content: space-between; /* Allinea gli elementi ai lati opposti */
    align-items: center;
    margin-top: 20px;
}

.header-title-text {
    font-size: 30px;
    font-weight: 500;
    margin-right: 20px;
    margin-left: 20px;
   	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
}

.header-nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Poppins;
}

.header-nav-item {
    margin-right: 20px;
    font-size: 18px;
}

/* Opzionale: Cambia il colore del testo del titolo */
#site-title {
    color: black;
    text-decoration: none;
}

/* Modifica in base alla larghezza dello schermo */
@media screen and (max-width: 768px) {
    .header-nav-item {
        font-size: 16px; /* Riduci la dimensione del testo per schermi più piccoli */
    }
}

footer {
	margin-top: 30px; /* Aggiunge spazio sopra il footer */
    text-align: center; /* Centra il contenuto all'interno del footer */
}

.socials {
    display: inline-block; /* Imposta il display a inline-block per centrare l'icona */
}

.socials img {
    display: block; /* Imposta il display a block per centrare l'immagine */
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
}

.footer-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Riduci la distanza tra le immagini */
}

.footer-nav-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: auto; /* Imposta un margine a destra per spingere il secondo link più a sinistra */
}

.footer-nav-list img {
    max-width: 100%;
    height: 30px
}

.content-wrapper {
    padding: 1.5em;
}

.section-cuoco {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
}

.image-block img{
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra */
}

.html-block {
    font-size: 1.2em;
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
    margin-bottom: 20px;
}

.block-content-main {
	font-size: 1.5em;
    margin-right: 20px;
    margin-bottom: 20px;
}

.block-content {
	font-size: 1em;
    margin-right: 20px;
    margin-bottom: 20px;
}

.list-title {
    font-size: 1.2em;
   	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
}

.cuochi-list {
	list-style-type: decimal;
	padding: 0;
	margin-left: 1em;
}

.list-checker {
    font-size: 1.2em;
   	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
}

.cuochi-list-item {
    font-size: 1.2em;
   	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
	margin-bottom: 10px;
}

.cuochi-list-link {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: normal;
}

.section-ricetta {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
}

.ricette-list {
	list-style-type: decimal;
	padding: 0;
	margin-left: 1em;
}

.ricette-list-item {
    font-size: 1.2em;
   	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
	margin-bottom: 10px;
}

.ricette-list-link {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: normal;
}

.year-text {
	font-size: 0.9em;
   	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
	margin-bottom: 10px;
	font-weight: 400;
}

.description-title {
	font-weight: 600;
}

.description-text {
	font-size: 0.9em;
   	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
	margin-bottom: 10px;
	font-weight: 400;
}

.first-section-content {
    display: flex;
    justify-content: space-between; /* Allinea gli elementi ai lati opposti */
    align-items: center;
    margin-top: 20px;
}

.first-section-background {
	background-color:  rgb(238, 222, 208);
}

.fs-text-block {
    flex: 1;
    padding: 0 20px; /* Aggiunge spazio tra l'immagine e il testo */
}

.fs-image-block img {
    max-height: 400px; /* Imposta l'altezza massima dell'immagine */
    width: auto; /* Imposta la larghezza automaticamente in base all'altezza specificata */
    margin-right: 20px; /* Aggiunge spazio tra l'immagine e il testo */
}

.fs-text-block h2, p {
	font-family: Poppins;
   	font-style: normal;
    text-transform: none;
    letter-spacing: 0em;
    line-height: 1.4em;
	margin-bottom: 10px;
    flex: 1; /* Fai espandere il blocco del testo per occupare lo spazio rimanente */
}
.fs-text-block p {
	text-align: justify;
}
