<html>
	<head>
    	<link rel="preconnect" href="https://fonts.googleapis.com">
   	 	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>Siw-Food - Inserisci Cuoco</title>
    	<link rel="stylesheet" href="/css/formAdd.css">
	</head>
	<body>
		<header>
			<!-- Title and Nav wrapper-->
			<div class="header-title-nav-wrapper">
				<div class="header-title">
					<div class="header-title-text">
						<a id="site-title" href="/">Siw-Food</a>
					</div>
				</div>
				<div class="header-nav">
					<div class="header-nav-wrapper">
						<nav class="header-nav-list">
							<div class="header-nav-item">
								<a class="no-underline" href="/login">Login</a>
							</div>
							<div class="header-nav-item">							
								<a class="no-underline" href="/ricette">Ricette</a>
							</div>
							<div class="header-nav-item">
								<a class="no-underline" href="/cuochi">Cuochi</a>
							</div>
							<div class="header-nav-item">
								<a class="no-underline" href="/ingredienti">Ingredienti</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div class="container" id="container">
		        <div class="form-container inserisci">
		            <form th:action="@{/ricette}" method="POST" th:object="${ricetta}">
		                <h1>Inserisci Ricetta</h1>
		                <span>Inserisci di seguito tutte le informazioni richieste</span>
		                <input required type="text" placeholder="Nome" th:field="${ricetta.nome}">
		                <input required type="text" placeholder="Descrizione" th:field="${ricetta.descrizione}">
						<input required type="text" placeholder="URL Immagine" th:field="${ricetta.urlImage}">
		                <button>Inserisci</button>
		            </form>
		        </div>
		    </div>
		<footer id="footer-sections" class="footer">
			<div class="section-border">
				<div class="section-background"> </div>
			</div>
			<div class="content-wrapper">
				<div class="content">
					<div class="socials">
						<nav class="footer-nav-list">
							<a href="https://www.instagram.com/edoardopiazzolla/">
								<img src="/images/Instagram.png"/>
							</a>
							<a href="https://www.youtube.com/channel/UC5LdtlfzoK9pftejCPvzWrg">
								<img src="/images/youtube.png"/>
							</a>
						</nav>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
