<!DOCTYPE html>
<html>

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Siw-Food - Lista Cuochi</title>
	<link rel="stylesheet" href="/css/style-v4.css">
</head>

<body>
	<div id="site-wrapper" class="site-wrapper">
		<header>
			<!-- Background -->
			<div class="header-background"></div>
			<div class="header-display-desktop">
			</div>
			<!-- Title and Nav wrapper-->
			<div class="header-title-nav-wrapper">
				<div class="header-title">
					<div class="header-title-text">
						<a id="site-title" href="/">Siw-Food</a>
					</div>
				</div>
				<div class="header-nav">
					<div class="header-nav-wrapper">
						<nav class="header-nav-list">
							<div class="header-nav-item" th:if="${userDetails}">
								<div class="inline-flex-container">
									<div class="username" th:text="${userDetails.username}"></div>
									<a class="no-underline" href="/logout">Logout</a>
								</div>
							</div>
							<!--							<div class="header-nav-item" th:unless="${userDetail}">-->
							<!--								<a href="/formLogin">Login</a>-->
							<!--							</div>-->
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main>
			<article class="sections" id="sections">
				<!-- inserire sezioni per alcuni articoli presi da database -->
				<section class="section-ricetta"
					style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 10px 4px;">
					<div class="section-border">
						<div class="section-background"> </div>
					</div>
					<div class="content-wrapper">
						<div class="content">
							<div>
								<div class="list-title">
									<h3 class>Lista dei cuochi</h3>
								</div>
								<form th:action="@{/admin/searchCuochi}" method="post">
									<div class="search">
										<span class=" search-icon material-symbols-outlined">search</span>
										<input class="search-input" type="text" name="nome" th:value="${nome}"
											placeholder="Ricerca">
									</div>
								</form>
								<div class="list-checker" th:if="${cuochi.isEmpty()}">Non ci sono cuochi nel sistema
								</div>
								<div class="list-block">
									<div class="list-content">
										<ul class="ricette-list" th:if="${!cuochi.isEmpty()}">
											<li class="ricette-list-item" th:each="cuoco : ${cuochi}">
												<a class="ricette-list-link" th:href="@{'/cuoco' + '/' + ${cuoco.id}}"
													th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"></a>
												<a class="ricette-list-link"
													th:href="@{'/admin/deleteCuoco/' + ${cuoco.id}}">(Elimina)</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</article>
		</main>
		<footer id="footer-sections" class="footer">
			<div class="section-border">
				<div class="section-background"> </div>
			</div>
			<div class="content-wrapper">
				<div class="content">
					<div class="socials">
						<nav class="footer-nav-list">
							<a href="https://www.instagram.com/edoardopiazzolla/">
								<img
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" />
							</a>
							<a href="https://www.youtube.com/channel/UC5LdtlfzoK9pftejCPvzWrg">
								<img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" />
							</a>
						</nav>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>