<!DOCTYPE html>
<html>

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Siw-Food - Cuochi</title>
	<link rel="stylesheet" href="/css/style-v4.css">
</head>

<body>
	<div id="site-wrapper" class="site-wrapper">
		<header>
			<!-- Background -->
			<div class="header-background"></div>
			<div class="header-display-desktop">
			</div>
			<!-- Title and Nav wrapper-->
			<div class="header-title-nav-wrapper">
				<div class="header-title">
					<div class="header-title-text">
						<a id="site-title" href="/">Siw-Food</a>
					</div>
				</div>
				<div class="header-nav">
					<div class="header-nav-wrapper">
						<nav class="header-nav-list">
							<div class="header-nav-item" th:if="${userDetails}">
								<div class="inline-flex-container">
									<div class="username" th:text="${userDetails.username}"></div>
									<a class="no-underline" href="/logout">Logout</a>
								</div>
							</div>
							<!--							<div class="header-nav-item" th:unless="${userDetail}">-->
							<!--								<a href="/formLogin">Login</a>-->
							<!--							</div>-->
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main>
			<article class="sections" id="sections">
				<!-- inserire sezioni per alcuni articoli presi da database -->
				<section class="section-cuoco">
					<div class="section-border">
						<div class="section-background"> </div>
					</div>
					<div class="content-wrapper">
						<div class="content">
							<div data-fluid-engine="true">
								<div class="image-block">
									<div class="block-content">
										<img th:if="${ricetta.urlImage.startsWith('https')}"
											th:src="${ricetta.urlImage}" style="width: 30%; height: auto;">
										<img th:unless="${ricetta.urlImage.startsWith('https')}"
											th:src="@{/images/__${ricetta.urlImage}__}"
											style="width: 30%; height: auto;">
									</div>
								</div>
								<div class="html-block">
									<div class="block-content-main">
										<div th:text="${ricetta.nome}"></div>
									</div>
								</div>
								<div class="html-block">
									<div class="block-content">
										<div th:if="${ricetta.cuoco}">
											<strong>Cuoco:</strong>
											<span
												th:text="${ricetta.cuoco.nome} + ' ' + ${ricetta.cuoco.cognome}"></span>
											<br>
											<!--											<a th:href="@{'/admin/addCuoco' + '/' + ${ricetta.id}}" class="button-link">-->
											<!--												<button type="button">Modifica cuoco</button>-->
											<!--											</a>-->
										</div>
										<div th:unless="${ricetta.cuoco}">
											<p>Non c'è nessun cuoco per questa ricetta.</p>
											<!--											<a th:href="@{'/admin/addCuoco' + '/' + ${ricetta.id}}" class="button-link">-->
											<!--												<button type="button">Aggiungi cuoco</button>-->
											<!--											</a>-->
										</div>
									</div>
								</div>

								<div class="html-block">
									<div class="block-content">
										<strong>Lista degli ingredienti:</strong>
										<ul>
											<div th:each="ingrediente: ${ricetta.ingredientiUtilizzati}">
												<li>
													<span
														th:text="${ingrediente.nome} + ' ' + ${ingrediente.quantita}"></span>
													<a th:href="@{'/cuoco/updateQuantita/' + ${ingrediente.id}}">
														<span class="material-symbols-outlined edit-icon">
															edit
														</span>
													</a>
												</li>
											</div>
										</ul>
										<a th:href="@{'/cuoco/updateIngredienti/' + ${ricetta.id}}">
											<button type="button">Modifica</button>
										</a>
									</div>
								</div>
								<div class="html-block">
									<div class="block-content">
										<div class="description-title">Descrizione:</div>
										<div class="description-text">
											<span th:text="${ricetta.descrizione}"></span>
										</div>
										<span th:if="${ricetta.descrizione == null}">
											Non disponibile
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</article>
		</main>
		<footer id="footer-sections" class="footer">
			<div class="section-border">
				<div class="section-background"> </div>
			</div>
			<div class="content-wrapper">
				<div class="content">
					<div class="socials">
						<nav class="footer-nav-list">
							<a href="https://www.instagram.com/edoardopiazzolla/">
								<img src="/images/Instagram.png" />
							</a>
							<a href="https://www.youtube.com/channel/UC5LdtlfzoK9pftejCPvzWrg">
								<img src="/images/youtube.png" />
							</a>
						</nav>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>